{% block goal_type_base %}
<!-- Page Wrapper -->
            <div class="page-wrapper">
			
				<!-- Page Content -->
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row align-items-center">
							<div class="col">
								<h3 class="page-title">Goal Type</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
									<li class="breadcrumb-item active">Goal Type</li>
								</ul>
							</div>
							<div class="col-auto float-right ml-auto">
								<a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_type"><i class="fa fa-plus"></i> Add New</a>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
{% endblock goal_type_base %}
{% block goal_type_add %}
<!-- Add Goal Modal -->
<div id="add_type" class="modal custom-modal fade" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add New Goal Type</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form method = "POST" action = "{% url 'goaltype' %}">
					{% csrf_token %}
					<!-- {{form.as_p}} -->
					<div class="form-group">
						<label>Goal Type <span class="text-danger">*</span></label>
						<input class="form-control" type="text" name="Goal_type" maxlength="100" required id="id_Goal_type">
					</div>
					<div class="form-group">
						<label>Description <span class="text-danger">*</span></label>
						<textarea class="form-control"  name="Goal_discription" cols="40" rows="5" maxlength="100" required id="id_Goal_discription"></textarea>
					</div>
					<!-- <div class="form-group">
						<label class="col-form-label">Status</label>
						<select class="select" name="Goal_status" id="id_Goal_status">
							<option>Active</option>
							<option>Inactive</option>
						</select>
					</div> -->
					<div class="submit-section">
						<button class="btn btn-primary submit-btn" type="submit">Submit</button>
					</div> 
				</form>
			</div>
		</div>
	</div>
</div>
				<!-- /Add Goal Modal -->
{% endblock goal_type_add %}