{% load crispy_forms_tags %}
{% block goal_tracking_base %}
<!-- Page Wrapper -->
            <div class="page-wrapper">
			
				<!-- Page Content -->
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row align-items-center">
							<div class="col">
								<h3 class="page-title">Goal Tracking</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
									<li class="breadcrumb-item active">Goal Tracking</li>
								</ul>
							</div>
							<div class="col-auto float-right ml-auto">
								<a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_goal"><i class="fa fa-plus"></i> Add New</a>
							</div>
						</div>
					</div>
					<!-- /Page Header -->

{% endblock goal_tracking_base %}

{% block goal_tracking_add %}
<!-- Add Goal Modal -->
<div id="add_goal" class="modal custom-modal fade" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add Goal Tracking</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form method="POST" action="{% url 'goaltracking' %}">
					{% csrf_token %}
					
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								{{form.Gole_Type|as_crispy_field}}
								
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								{{form.Subject|as_crispy_field}}
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								{{form.Target_Achievement|as_crispy_field}}
							</div>
						</div>
						
						
						<div class="col-sm-6">
							<div class="form-group">
								{{form.End_Date|as_crispy_field}}
							</div>
						</div>
						
						<div class="col-sm-6">
							<div class="form-group">
								{{form.Status|as_crispy_field}}
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								{{form.Discription|as_crispy_field}}
							</div>
						</div>
					</div>
					<div class="submit-section">
						<button class="btn btn-primary submit-btn" type="submit" >Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
				<!-- /Add Goal Modal -->
{% endblock goal_tracking_add %}