{% load crispy_forms_tags %}
{% block termination_base %}
<!-- Page Wrapper -->
            <div class="page-wrapper">
			
				<!-- Page Content -->
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row align-items-center">
							<div class="col">
								<h3 class="page-title">Termination</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
									<li class="breadcrumb-item active">Termination</li>
								</ul>
							</div>
							<div class="col-auto float-right ml-auto">
								<a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_termination"><i class="fa fa-plus"></i> Add Termination</a>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
{% endblock termination_base %}
{% block termination_add %}
<!-- Add Termination Modal -->
				<div id="add_termination" class="modal custom-modal fade" role="dialog">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Add Termination</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form method="post">
									{% csrf_token %}
									<!-- {{form.as_p}} -->
									<div class="form-group">

										{{form.Employee_Email|as_crispy_field}}

									</div>
									<div class="form-group">

										{{form.Termination_Type|as_crispy_field}}
									
									</div>
									<div class="form-group">

										{{form.Termination_Date|as_crispy_field}}

									</div>
									<div class="form-group">

										{{form.Reason|as_crispy_field}}

									</div>
									<div class="form-group">
										
										{{form.Notice_Date|as_crispy_field}}
										
									</div> 

									<div class="submit-section">
										<button class="btn btn-primary submit-btn" type="submit">Submit</button>
									</div>
									
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- /Add Termination Modal -->
{% endblock termination_add %}