{% load crispy_forms_tags %}
{% block trainings_base %}
<!-- Page Wrapper -->
            <div class="page-wrapper">
			
				<!-- Page Content -->
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row align-items-center">
							<div class="col">
								<h3 class="page-title">Training</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
									<li class="breadcrumb-item active">Training</li>
								</ul>
							</div>
							<div class="col-auto float-right ml-auto">
								<a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_training"><i class="fa fa-plus"></i> Add New </a>
							</div>
						</div>
					</div>
					<!-- /Page Header -->

{% endblock trainings_base %}
{% block trainings_add  %}
<!-- Add Training List Modal -->
				<div id="add_training" class="modal custom-modal fade" role="dialog">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Add New Training</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form method="post" action="{% url 'trainings' %}" enctype="multipart/form-data">
									{% csrf_token %}
									<!-- {{form.as_p}} -->
									<!-- {{ form|crispy }} -->

									
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group">
												{{form.Training_Type|as_crispy_field}}
												
											</div>
										</div>


										<div class="col-sm-6">
											<div class="form-group">
												{{form.Trainer_Name|as_crispy_field}}
											</div>
										</div>


										<div class="col-sm-6">
											<div class="form-group">
												{{form.Training_Cost|as_crispy_field}}
											</div>
										</div>


										<div class="col-sm-6">
											<div class="form-group">
												{{form.Duration|as_crispy_field}}
											</div>
										</div>


										<div class="col-sm-6">
											<div class="form-group">
												{{form.End_Date|as_crispy_field}}
											</div>
										</div>


										<div class="col-sm-6">
											<div class="form-group">
												{{form.Upload_PDF|as_crispy_field}}
											</div>
										</div>

										
										<div class="col-sm-6">
											<div class="form-group">
												{{form.Upload_Video|as_crispy_field}}
											</div>
										</div>


									


										<div class="col-sm-12">
											<div class="form-group">
												{{form.Discription|as_crispy_field}}
											</div>
										</div>


									</div>
									<div class="submit-section">
										<button class="btn btn-primary submit-btn" type="submit">Submit</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- /Add Training List Modal -->
{% endblock trainings_add %}