{% block assets_base %}
<!-- Page Wrapper -->
            <div class="page-wrapper">
			
				<!-- Page Content -->
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row align-items-center">
							<div class="col">
								<h3 class="page-title">Assets</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
									<li class="breadcrumb-item active">Assets</li>
								</ul>
							</div>
							<div class="col-auto float-right ml-auto">
								<a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_asset"><i class="fa fa-plus"></i> Add Asset</a>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<!-- Search Filter -->
					<div class="row filter-row">
						<div class="col-sm-6 col-md-3">  
							<div class="form-group form-focus">
								<input type="text" class="form-control floating">
								<label class="focus-label">Employee Name</label>
							</div>
						</div>
						<div class="col-sm-6 col-md-3"> 
							<div class="form-group form-focus select-focus">
								<select class="select floating"> 
									<option value=""> -- Select -- </option>
									<option value="0"> Pending </option>
									<option value="1"> Approved </option>
									<option value="2"> Returned </option>
								</select>
								<label class="focus-label">Status</label>
							</div>
						</div>
						<div class="col-sm-12 col-md-4">  
						   <div class="row">  
							   <div class="col-md-6 col-sm-6">  
									<div class="form-group form-focus">
										<div class="cal-icon">
											<input class="form-control floating datetimepicker" type="text">
										</div>
										<label class="focus-label">From</label>
									</div>
								</div>
							   <div class="col-md-6 col-sm-6">  
									<div class="form-group form-focus">
										<div class="cal-icon">
											<input class="form-control floating datetimepicker" type="text">
										</div>
										<label class="focus-label">To</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-2">  
							<a href="#" class="btn btn-success btn-block"> Search </a>  
						</div>     
                    </div>
					<!-- /Search Filter -->
{% endblock assets_base %}
{% block assets_add %}
<!-- Add Asset Modal -->
<div id="add_asset" class="modal custom-modal fade" role="dialog">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add Asset</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form method ="POST" action="{% url 'assets' %}">
					{% csrf_token %}
					<!-- {{form.as_p}} -->
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Asset Name</label>
								<input class="form-control" type="text" name="asset_name" required id="id_asset_name">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Asset Id</label>
								<input class="form-control" type="text" name="asset_id" required id="id_asset_id">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Purchase Date</label>
								<input class="form-control datetimepicker" type="text" name="asset_purcahse_date" required id="id_asset_purcahse_date">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Purchase From</label>
								<input class="form-control" type="text" name="asset_purcahse_from" required id="id_asset_purcahse_from">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Manufacturer</label>
								<input class="form-control" type="text" name="asset_manufacture" required id="id_asset_manufacture">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Model</label>
								<input class="form-control" type="text" name="asset_model" required id="id_asset_model">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Serial Number</label>
								<input class="form-control" type="text" name="asset_serial_number" required id="id_asset_serial_number">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Supplier</label>
								<input class="form-control" type="text" name="asset_supplier" required id="id_asset_supplier">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Condition</label>
								<input class="form-control" type="text" name="asset_conditiion" required id="id_asset_conditiion">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Warranty</label>
								<input class="form-control" type="text" placeholder="In Months" name="asset_warrenty" required id="id_asset_warrenty">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Amount</label>
								<input placeholder="$1800" class="form-control" type="text" name="asset_amount" required id="id_asset_amount">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Asset User</label>
								<input class="form-control" type="text" name="asset_user" required id="id_asset_user">
								
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Description</label>
								<textarea class="form-control" name="asset_description" required id="id_asset_description"></textarea>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Status</label>
								<select name="asset_status" id="id_asset_status">
  <option value="new" selected>new</option>

  <option value="pending">pending</option>

  <option value="damaged">damaged</option>

  <option value="deployed">deployed</option>

  <option value="approved">approved</option>

</select>
							</div>
						</div>
					</div>
					<div class="submit-section">
						<button class="btn btn-primary submit-btn">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- /Add Asset Modal -->

{% endblock assets_add %}