{% include 'administration/base.html' %}
{% include 'administration/clients_base.html' %}
{% block css %}
<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/static/assets/img/favicon.png">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="/static/assets/css/font-awesome.min.css">
		
		<!-- Lineawesome CSS -->
		<link rel="stylesheet" href="/static/assets/css/line-awesome.min.css">
		
		<!-- Select2 CSS -->
		<link rel="stylesheet" href="/static/assets/css/select2.min.css">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="/static/assets/css/style.css">
{% endblock css %}
{% block client_base %}
{% endblock client_base %}
					

<div class="row staff-grid-row">
	{% for client in client_list  %}
	
	<div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
		<div class="profile-widget">
			<div class="profile-img">
				<a href="client-profile.html" class="avatar"><img alt="" src="/script/assets/img/profiles/avatar-19.jpg"></a>
			</div>
			<div class="dropdown profile-action">
				<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
				<div class="dropdown-menu dropdown-menu-right">
					<a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_client" onClick="getId('{{client.id}}')"><i class="fa fa-pencil m-r-5"></i> Edit</a>
					<a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_client" onClick="getId('{{client.id}}')"><i class="fa fa-trash-o m-r-5" ></i> Delete</a>
				</div>
			</div>
			<h4 class="user-name m-t-10 mb-0 text-ellipsis"><a href="client-profile.html">{{client.client_first_name}}</a></h4>
			<h5 class="user-name m-t-10 mb-0 text-ellipsis"><a href="client-profile.html">{{client.id}}</a></h5>
			<div class="small text-muted">CEO</div>
			<a href="chat.html" class="btn btn-white btn-sm m-t-10">Message</a>
			<a href="client-profile.html" class="btn btn-white btn-sm m-t-10">View Profile</a>
		</div>
	</div>
	{% endfor %}
	
				<!-- /Page Content -->
			
                
                
                {% block clients_add %}
                {% endblock clients_add %}


				
				<!-- Edit Client Modal -->
				<div id="edit_client" class="modal custom-modal fade" role="dialog">
					<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Edit Client</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							
							<div class="modal-body">
								<form method="POST" action="{% url 'editClient' 2  %}" enctype="multipart/form-data">
									{% csrf_token %}
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												
												<label class="col-form-label">First Name <span class="text-danger">*</span></label>
												<input class="form-control" value="{{edit_client.client_first_name}}" type="text" name="client_first_name">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label class="col-form-label">Last Name</label>
												<input class="form-control"  type="text" value="{{edit_client.client_last_name}}" name="client_last_name">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label class="col-form-label">Username <span class="text-danger">*</span></label>
												<input class="form-control" type="text" value="{{edit_client.client_username}}" name="client_username">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label class="col-form-label">Email <span class="text-danger">*</span></label>
												<input class="form-control floating" value="{{edit_client.client_email}}" type="email" name="client_email">
											</div>
										</div>
										<div class="col-md-6">  
											<div class="form-group">
												<label class="col-form-label">Client ID <span class="text-danger">*</span></label>
												<input class="form-control floating" value="{{edit_client.client_id}}" type="text" name="client_id">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label class="col-form-label">Phone </label>
												<input class="form-control" value="{{edit_client.client_phone}}" type="text" name="client_phone">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label class="col-form-label">Address</label>
												<input class="form-control" value="{{edit_client.client_address}}" type="text" name="client_address">
											</div>
										</div>
									
									</div>
									
									<div class="submit-section">
										<button class="btn btn-primary submit-btn" id="edit_client" type="submit">Submit</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- /Edit Client Modal -->
				
				<!-- Delete Client Modal -->
				<div class="modal custom-modal fade" id="delete_client" role="dialog">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-header">
									<h3>Delete Client</h3>
									<p>Are you sure want to delete?</p>
								</div>
								<div class="modal-btn delete-action">
									<div class="row">
										<div class="col-6">
											<a href="" id="deleteclient" class="btn btn-primary continue-btn">Delete</a>
										</div>
										<div class="col-6">
											<a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Delete Client Modal -->
				
            </div>
			<!-- /Page Wrapper -->
			
        </div>
		<!-- /Main Wrapper -->

            <!-- jQuery -->
        <script src="/static/assets/js/jquery-3.2.1.min.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="/static/assets/js/popper.min.js"></script>
        <script src="/static/assets/js/bootstrap.min.js"></script>
		
		<!-- Slimscroll JS -->
		<script src="/static/assets/js/jquery.slimscroll.min.js"></script>
		
		<!-- Select2 JS -->
		<script src="/static/assets/js/select2.min.js"></script>
		
		<!-- Custom JS -->
		<script src="/static/assets/js/app.js"></script>
		
		<script>
			function getId(id) {
				alert(id)
				var a =document.getElementById('deleteclient');
				a.href = "/administration/clients_remove_grid/"+id;
			}
		</script>	
		<!-- <script>
			function getId(id) {
				var a = document.getElementById('edit_client');
				a.href = "/administration/editClient/"+id;
			}
		</script> -->
		
		
</body>
</html>