{% include 'administration/base.html' %}
{% block css %}
<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/static/assets/img/favicon.png">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="/static/assets/css/font-awesome.min.css">
		
		<!-- Lineawesome CSS -->
        <link rel="stylesheet" href="/static/assets/css/line-awesome.min.css">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="/static/assets/css/style.css">
{% endblock css %}
<!-- Page Wrapper -->
            <div class="page-wrapper">
			
				<!-- Page Content -->
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="page-title">Knowledgebase</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
									<li class="breadcrumb-item active">Knowledgebase</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="row">
						<div class="col-xl-4 col-md-6 col-sm-6">
							<div class="topics">
								<h3 class="topic-title"><a href="#"><i class="fa fa-folder-o"></i> Installation & Activation <span>11</span></a></h3>
								<ul class="topics-list">
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-xl-4 col-md-6 col-sm-6">
							<div class="topics">
								<h3 class="topic-title"><a href="#"><i class="fa fa-folder-o"></i> Premium Members Features <span>11</span></a></h3>
								<ul class="topics-list">
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-xl-4 col-md-6 col-sm-6">
							<div class="topics">
								<h3 class="topic-title"><a href="#"><i class="fa fa-folder-o"></i> API Usage & Guide lines <span>11</span></a></h3>
								<ul class="topics-list">
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-xl-4 col-md-6 col-sm-6">
							<div class="topics">
								<h3 class="topic-title"><a href="#"><i class="fa fa-folder-o"></i> Getting Started <span>11</span></a></h3>
								<ul class="topics-list">
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-xl-4 col-md-6 col-sm-6">
							<div class="topics">
								<h3 class="topic-title"><a href="#"><i class="fa fa-folder-o"></i> Lorem ipsum dolor <span>11</span></a></h3>
								<ul class="topics-list">
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-xl-4 col-md-6 col-sm-6">
							<div class="topics">
								<h3 class="topic-title"><a href="#"><i class="fa fa-folder-o"></i> Lorem ipsum dolor <span>11</span></a></h3>
								<ul class="topics-list">
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-xl-4 col-md-6 col-sm-6">
							<div class="topics">
								<h3 class="topic-title"><a href="#"><i class="fa fa-folder-o"></i> Lorem ipsum dolor <span>11</span></a></h3>
								<ul class="topics-list">
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-xl-4 col-md-6 col-sm-6">
							<div class="topics">
								<h3 class="topic-title"><a href="#"><i class="fa fa-folder-o"></i> Lorem ipsum dolor <span>11</span></a></h3>
								<ul class="topics-list">
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-xl-4 col-md-6 col-sm-6 ">
							<div class="topics">
								<h3 class="topic-title"><a href="#"><i class="fa fa-folder-o"></i> Lorem ipsum dolor <span>11</span></a></h3>
								<ul class="topics-list">
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
									<li><a href="knowledgebase-view.html"> Sed ut perspiciatis unde omnis? </a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					
                </div>
				<!-- /Page Content -->
				
            </div>
			<!-- /Page Wrapper -->
			
        </div>
		<!-- /Main Wrapper -->

		<!-- jQuery -->
        <script src="/static/assets/js/jquery-3.2.1.min.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="/static/assets/js/popper.min.js"></script>
        <script src="/static/assets/js/bootstrap.min.js"></script>
		
		<!-- Slimscroll JS -->
		<script src="/static/assets/js/jquery.slimscroll.min.js"></script>
		
		<!-- Custom JS -->
		<script src="/static/assets/js/app.js"></script>
</body>
</html>