{% include 'administration/base.html' %}
{% include 'administration/leads_base.html' %}
{% block css %}
<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/static/assets/img/favicon.png">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="/static/assets/css/font-awesome.min.css">
		
		<!-- Lineawesome CSS -->
        <link rel="stylesheet" href="/static/assets/css/line-awesome.min.css">
		
		<!-- Datatable CSS -->
		<link rel="stylesheet" href="/static/assets/css/dataTables.bootstrap4.min.css">

        <!-- Select2 CSS -->
		<link rel="stylesheet" href="/static/assets/css/select2.min.css">
        
		<!-- Main CSS -->
        <link rel="stylesheet" href="/static/assets/css/style.css">
{% endblock css %}
{% block client_base %}
{% endblock client_base %}

        <!-- /Page Header -->
        
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped table-nowrap custom-table mb-0 datatable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Lead Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Project</th>
                                <th>Assigned Staff</th>
                                <th>Created</th>
                               
                                <th class="text-right">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for lead in lead_list %}
                                
                            
                            <tr>
                                <td>{{lead.id}}</td>
                                <td>{{lead.lead_name}}</td>
                                <td>{{lead.lead_email}}</td>
                                <td>{{lead.lead_phone}}</td>
                                <td>{{lead.lead_project}}</td>
                                <td>{{lead.lead_assign_staff}}</td>
                                <td>{{lead.lead_created}}</td>
                               
                                
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="{% url 'leads_manage' lead.id %}" ><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_designation" onClick="getId('{{lead.id}}')"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Content -->
    {% block clients_add %}
    {% endblock clients_add %}
    <!-- Delete Designation Modal -->
<div class="modal custom-modal fade" id="delete_designation" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Leads</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="" id="delete_leads" class="btn btn-primary continue-btn">Delete</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Designation Modal -->
    
</div>
<!-- /Page Wrapper -->

</div>
<!-- /Main Wrapper -->

            <!-- jQuery -->
        <script src="/static/assets/js/jquery-3.2.1.min.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="/static/assets/js/popper.min.js"></script>
        <script src="/static/assets/js/bootstrap.min.js"></script>
		
		<!-- Slimscroll JS -->
		<script src="/static/assets/js/jquery.slimscroll.min.js"></script>
		
		<!-- Select2 JS -->
		<script src="/static/assets/js/select2.min.js"></script>
		
		<!-- Custom JS -->
        <script src="/static/assets/js/app.js"></script>
        <script>
            function getId(id) {
                var a =document.getElementById('delete_leads');
                a.href = "/administration/leads_remove/" +id;
            }
        </script>
</body>
</html>
        